/*-- scss:defaults --*/

/*-- scss:rules --*/



/*-- scss:rules --*/
code:not(pre *){
    color: $orange;
    background-color: #212529;
  }
  
.kbd{
  color: $gray-700;
}

.codebox{
   background-color: $gray-600;
}

:root {
  --mermaid-edge-color: white;
  --mermaid-label-bg-color: white;
}

.cell:not(.page-full):has(.cell-output){
   background-color: $gray-600;
}
